# priv oopsies
SystemFiles/
Documents/
Desktop/
Videos/
Pictures/
Downloads/
yay/
.npm/
.local/
.cache/
.ssh/


# priv images
*.bmp
*.gif
*.jpg
*.jpeg
*.png
*.tiff
*.tif
*.svg
*.webp
*.heif
*.heic
*.ico
*.cr2
*.nef
*.arw
*.psd
*.ppm
*.raw
*.exr
*.jp2
*.j2k

# priv audio
*.avi
*.mp4
*.mov
*.mkv
*.wmv
*.flv
*.webm
*.mpeg
*.mpg
*.3gp
*.m4v
*.rm
*.ts
*.vob
*.f4v
*.asf
*.h265
*.hevc

# priv audio
*.mp3
*.wav
*.aac
*.flac
*.ogg
*.wma
*.m4a
*.opus
*.aiff
*.aif
*.dsf
*.dff
*.cda
*.mid
*.midi
